<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" #title="ngModel"
              [(ngModel)]="product.title" name="title" required>
            <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
              Title is required.
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bold">&#8377;</span>
              </div>
              <input id="price" type="text" class="form-control"
                [(ngModel)]="product.price" name="price" #price="ngModel" [min]="0" required>

            </div>
            <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
              <div *ngIf="price.errors.required">Price is required.</div>
              <div *ngIf="price.errors.min">Price should be zero or higher.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select id="category" class="form-control"
              [(ngModel)]="product.category" name="category" #category="ngModel" required>
              <option value=""></option>
              <option *ngFor="let c of categories$ | async" [value]="c.$key">
                {{ c.name }}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
              Category is required.
            </div>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" type="text" class="form-control"
              [(ngModel)]="product.imageUrl" name="imageUrl" #imageUrl="ngModel" url required>
            <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
              <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
              <div *ngIf="imageUrl.errors.url">Please enter a valid url.</div>
            </div>
          </div>
          <button class="btn btn-success" type="submit" *ngIf="!id">Add Product</button>
          <button class="btn btn-success" type="submit" *ngIf="id">Save</button>
          <button class="btn btn-danger" type="button" (click)="delete()" *ngIf="id">Delete</button>
        </form>
  </div>
  <div class="col-md-6">
      <app-product-card [product]="product" [show-actions]="false"></app-product-card>
  </div>
</div>

